:root {
  --bg: var(--light-gray);
}

header.index-style {
  background: var(--light-gray);
}
.navbar-list.index-style {
  background: linear-gradient(to bottom right, var(--blue), var(--green));
  border-bottom: none;
}
.navbar-list.index-style .navbar-link {
  background: none;
}
.navbar-list.index-style .navbar-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.aside-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aside-col > .row {
  justify-content: space-between;
}
.aside-col .info-card {
  display: inline-block;
  min-width: 10rem;
}


.article-col {
  display: flex;
}
.article-col > .row {
  flex-grow: 1;
}
.aluno-col {
  border-right: 2px dashed var(--dark-gray);
}
.aluno-col:first-child {
  border-left: 2px dashed var(--dark-gray);
}
.aluno-error {
  text-align: center;
}
.gg-danger {
  --ggs: 1.5;
  color: var(--red);
  transform-origin: top;
  margin: 0 auto;
}