.aside-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aside-col > .row {
  justify-content: space-between;
}
.aside-col .info-card {
  display: inline-block;
  min-width: 10rem;
}


.article-col {
  display: flex;
}
.article-col > .row {
  flex-grow: 1;
}
.aluno-col {
  border-right: 2px dotted var(--dark-gray);
  border-left: 2px dotted var(--dark-gray);
}
.aluno-error {
  text-align: center;
}
.gg-danger {
  --ggs: 1.5;
  color: var(--red);
  transform-origin: top;
  margin: 0 auto;
}