@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

:root {
  --light-gray: #d9d9d9;
  --dark-gray: #3a3a3a;
  --blue: #43cfd9;
  --green: #74d14c;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--light-gray);
  font-family: 'Poppins', sans-serif;
}


header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--dark-gray);
}
.page-title {
  display: inline-block;
}
.logo-img {
  margin-right: 2rem;
}


nav {
  margin-bottom: 2rem;
}
.navbar-list {
  list-style: none;
  width: 100%;
  padding: 0.75rem 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, var(--blue), var(--green));
}
.navbar-list-item {
  margin: 0 1.5rem;
}
.navbar-link {
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: 800;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}
.navbar-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

